.booking-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, #eeaeca 0, #94bbe9 100%);
}

.button5 {
    width: 100px;
}